.nowshowing-page {
    pointer-events: none;
    cursor: default;
    color: hsl(360, 71%, 66%);
    font-weight: bold;
}

.selection-title{
    font-size: 6ch;
    margin-top: 10px;
    margin-bottom: 10px;
}

select,input{
    text-align: center;
}

.selection-section .cinema-selection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.cinema-selection label{
    width: 350px;
    height: 50px;
    display: inline-block;
    font-size: 4ch;
    text-align: end;
}
.cinema-selection select{
    width: 240px;
    height: 50px;
    display: inline-block;
    padding: 0%;
    margin: 0%;
    border-radius: 10px;
    border-width: 1px;
    border-color: hsl(0, 61%, 16%);
}
.forms{
    padding-left: 0%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}
.forms .form{
    background: white;
    border-radius: 10px;
    position: relative;
    width: 800px;
    height: 425px;
}
.form:hover{
    box-shadow: 0 4px 8px 1px rgba(255, 67, 67, 0.2), 0 6px 20px 1px rgba(255, 67, 67, 0.2);
}
.form img{
    width: 287px;
    height: 425px;
    border-radius: 10px;
}
.form .form-inputs{
    position: absolute;
    left:300px;
    top: 0px;
    width: 500px;
}
.form-inputs .input{
    display: flex;
    margin: 2%;
    padding: 2%;
    align-items: center;
}
.input label{
    width: 200px;
    height: 50px;
    display: inline-block;
    font-size: 4ch;

}
.input input, .input select{
    width: 240px;
    height: 50px;
    display: inline-block;
    padding: 0%;
    margin: 0%;
    border-radius: 10px;
    border-width: 1px;
    border-color: hsl(0, 61%, 16%);
}

.input input:hover,.input select:hover{
    border-color: hsl(360, 71%, 66%);
}
.form .btn{
    font-size: 3ch;
    position: absolute;
    left:73%;
    top:80%;
    color:hsl(0, 61%, 16%);
    padding: 3% 6%;
    border-radius: 50px;
    border: 0px;
}
.form .btn:hover{
    cursor: pointer;
    color: white;
    background:hsl(360, 71%, 66%) ;
}

.locations{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}
.locations>h2{
    font-size: 6ch;
}
.locations .location{
    background:white;
    position: relative;
    width: 800px;
    height: 200px;
    border-radius: 20px;
}

.locations .location:hover{
    box-shadow: 0 4px 8px 1px rgba(255, 67, 67, 0.2), 0 6px 20px 1px rgba(255, 67, 67, 0.2);
}
.locations .location>img{
    /*position: absolute;*/
    border-radius: 20px;
    float: left;
    width: 200px;
    height: 200px;
}
.locations .location p{
    position: absolute;
    left: 210px;
    font-size: 3ch;
}